pyspark
pandas
numpy
streamlit
plotly
scikit-learn
jupyter
notebook
ipykernel
matplotlib
seaborn
python-dateutil
pytz
numba
py4j
python-dotenv
openpyxl
xlrd
gunicorn
watchdog
pytest
pytest-cov
pydantic
